<div id="logo" class="top">
	<h1>CloudExplorer</h1>
</div>

<table id="leftPaneTable" class="tablesorter">
<thead>
	<tr>
		<th>Name</th>
	</tr>
</thead>

<tbody>
	<% _.each(storages, function(storage, index){ %>
	<tr id="leftPaneTable_tr_<%= index %>" class="droppableStorage hover">
		<td id="leftPaneTable_td_<%= index %>"><span id="<%= storage.get('name') %>"><%= storage.get('name') %></span></td>
	</tr>
	<% }); %>
</tbody>
</table>

<!-- 
<ul>
  <% _.each(storages, function(storage){ %>
   <li><span id="<%= storage.get('name') %>" class="droppableStorage" ><%= storage.get('name') %></span></li> 
  <% }); %>
</ul>
 -->
