<div id="menuUpload" class="menuItem">
	<img class="menuImg" src="img/upload_22.png" title="Upload" alt="Upload" width="22" height="22">
	<span class="menuText">Upload</span>
</div>
<div id="menuDownload" class="menuItem">
	<img class="menuImg" src="img/download_22.png" title="Download" alt="Download" width="22" height="22">
	<span class="menuText">Download</span>
</div>
<div id="menuCopy" class="menuItem">
	<img class="menuImg" src="img/copy_22.png" title="Copy" alt="Copy" width="22" height="22">
	<span class="menuText">Copy</span>
</div>
<div id="menuPaste" class="menuItem">
	<img class="menuImg" src="img/paste_22.png" title="Paste" alt="Paste" width="22" height="22">
	<span class="menuText">Paste</span>
</div>
<div id="menuMove" class="menuItem">
	<img class="menuImg" src="img/move_22.png" title="Move" alt="Move" width="22" height="22">
	<span class="menuText">Move</span>
</div>
<div id="menuRename" class="menuItem">
	<img class="menuImg" src="img/rename_22.png" title="Rename" alt="Rename" width="22" height="22">
	<span class="menuText">Rename</span>
</div>
<div id="menuDelete" class="menuItem">
	<img class="menuImg" src="img/delete_22.png" title="Delete" alt="Delete" width="22" height="22">
	<span class="menuText">Delete</span>
</div>
<div style="clear: both"></div>

<div id="menuOptions" class="submenu">
	<ul class="root">
		<li id="iconOnly">Icon Only</li>
		<li id="textOnly">Text Only</li>
		<li id="bothIconText">Both</li>
	</ul>
</div>
