<div id="menu" class="top"></div>

<table id="rightPaneTable" class="tablesorter">
<thead>
	<tr>
		<th>Key</th>
		<th>Size</th>
		<th>Last Modified</th>
	</tr>

	<% _.each(objs, function(obj, index){ %>
</thead>

<tbody>
	<tr id="rightPaneTable_tr_<%= index %>">
		<td id="rightPaneTable_td0_<%= index %>">
			<span id="object_<%= index %>" class="draggableObject" draggable="true" ><%= obj.get('key') %></span>
			<input type="text" id="renameObj_<%= index %>" name="renameObj_<%= index %>" class="renameObj" value="" />
		</td>
		<td id="rightPaneTable_td1_<%= index %>"><%= obj.get('size') %></td>
		<td id="rightPaneTable_td2_<%= index %>"><%= obj.getDate('lastModified') %></td>
	</tr>
	<% }); %>
</tbody>
</table>

<a id="downloadFile" href=""></a>
