<div class="modal-header">Upload File</div>
<form id="uploadForm" name="uploadForm" action="cloud/object/upload" method="post" enctype="multipart/form-data">
	<div id="browseFiles">
		<span class="button buttonFileinput">
        	<span>Select files...</span>
			<input type="file" id="fileList" name="fileList" multiple="multiple" />
        </span>	
		<label class="right"><span id="numFileSelected">0</span> file(s) selected</label>
	</div>
	

	<div id="selectedFilesDiv">
		<table id="selectedFiles" class="upload">
		</table>
	</div>
	
	<input type="submit" id="uploadButton" name="uploadButton" class="right button" value="Upload" />
	<div style="clear: both"></div>
</form>
