body {
    background-color: #D3D3D3;
	font-family: Arial;
	font-size: 12px;
    color: #000000;
	margin: 0;
	padding: 0;
}
#container {
	width: 100%;
	height: 100%;
	min-width: 900px;
	max-width: 1400px;
	margin: auto;
	padding: 0;
}
#content {
	position: relative;
	margin: 12px;
	min-height: 400px;
	height: 100%;
	padding: 0;
	color: 	#4D4D94;
}
#leftPane {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	margin: 0;
	background-color: #F6F4F0;
	overflow: hidden;
}
#middlePane{
	position: absolute;
	top: 0px;
	left: 200px;
	width: 6px;
	height: 100%;
	margin: 0;
	cursor: e-resize;
}
#rightPane {
	position: absolute;
	top: 0px;
	left: 206px;
	height: 100%;
	margin: 0;
	background-color: #F6F4F0;
	overflow: hidden;
}

.top {
	margin: 0;
	padding: 2px;
	width: 100%;
	height: 48px;
	border-bottom: solid 2px #D3D3D3;
	overflow: hidden;
}
#logo {
}
h1 {
	margin: auto;
	padding-top: 6px;
	width: 170px;
	font-size: 2em;
	font-family: Comic Sans MS;
	font-style: italic;
	color: #5CB85C;
}
#menu {
}
.menuItem {
	float: left;
	padding: 2px;
	width: 64px;
	height: 47px;
	text-align: center;
	cursor: pointer;
	overflow: hidden;
	border: solid 1px #D3D3D3;
}
.menuItem img {
	display: block;
	margin: auto;
	padding: 2px;
}
.menuItem span {
	display: block;
	margin: auto;
	padding: 2px;
}

table.tablesorter {
	font-family:arial;
	/* 
	background-color: #CDCDCD;
	*/
	background-color: #F6F4F0;
	margin: auto;
	padding: 12px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	/* border: 1px solid #FFF; */
	border: 1px solid #CDCDCD;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
table.tablesorter tbody tr.objectSelected td {
	background-color: #ECFFEC;
}
table.tablesorter tbody tr.objectHover td {
	background-color: #F8F8FA;
}
table.tablesorter tbody tr.hover:hover {
	font-weight: bold;;
}

.tooltip {
	position: absolute;
	display: none;
	z-index: 99;
	padding: 8px;
	opacity: 0.7;
	font-size: 0.8em;
	text-align:left;
	background-color:#D6EBFF;
	-moz-box-shadow: inset 0 0 2px 1px #8AB8E6;
	-webkit-box-shadow: inset 0 0 2px 1px #8AB8E6;
	box-shadow: inset 0 0 2px 1px #8AB8E6;
	/*
	-webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px; -moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px; border-top-right-radius: 10px;
	*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.renameObj {
	display: none;
	width: 200px;
}

div.modal-header {
	text-align: center;
	padding: 8px 16px;
	background-color: #D6EBFF;
	-moz-box-shadow: inset 0 0 2px 1px #8AB8E6;
	-webkit-box-shadow: inset 0 0 2px 1px #8AB8E6;
	box-shadow: inset 0 0 2px 1px #8AB8E6;
	-webkit-border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px;
	-moz-border-top-left-radius: 10px; -moz-border-top-right-radius: 10px;
	border-top-left-radius: 10px; border-top-right-radius: 10px;
}
form {
	padding: 8px;
}
label {
	padding-right: 4px;
}
.right {
	float: right;
}

.button {
    border: 2px outset buttonface;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    padding: 4px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}
.button:hover {
    background-color: #47A447;
    border-color: #398439;
    color: #FFFFFF;
}
.buttonFileinput {
    overflow: hidden;
    position: relative;
}
.buttonFileinput input {
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	cursor: pointer;
    direction: ltr;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
#browseFiles label {
	padding: 12px 0 0 0;
}

#selectedFilesDiv {
	margin: 6px 0;
	width: 400px;
	min-height: 200px;
	max-height: 400px;
	border: solid 1px;
	overflow: auto;
}
table.upload {
	width: 100%;
	min-hight: 200px;
}
table.upload .bar {
	width: 0;
	height: 3px;
	background-color: #33CC33;
	border: 1px solid #000;
	display: none;
}
table.upload tr td {
	margin: 0;
	padding: 2px;
}
#cancelButton {
	display: none;
}

.dropdown 
{
color: #555;
margin: 3px -22px 0 0;
width: 143px;
position: relative;
height: 17px;
text-align:left;
}
.submenu
{
background: #fff;
position: fixed;
top: -99;
left: -99;
z-index: 100;
width: 135px;
display: none;
margin-left: 10px;
padding: 0 5px;
border-radius: 6px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}
.submenu li
{
color: #555555;
display: block;
font-family: arial;
font-weight: bold;
padding: 6px 15px;
cursor: pointer;
text-decoration:none;
cursor: pointer;
}
.submenu li:hover
{
background:#155FB0;
color: #FFFFFF;
text-decoration: none;
}
a.account 
{
font-size: 11px;
line-height: 16px;
color: #555;
position: absolute;
z-index: 110;
display: block;
padding: 11px 0 0 20px;
height: 28px;
width: 121px;
margin: -11px 0 0 -10px;
text-decoration: none;
background: url(icons/arrow.png) 116px 17px no-repeat;
cursor:pointer;
}
.root
{
list-style:none;
margin:0px;
padding:0px;
font-size: 11px;
padding: 11px 0 0 0px;
border-top:1px solid #dedede;
}


.error-message {
	color:red; font-size:75%; font-weight:bold; margin:0 0 .5em;
}
.error {
	border:1px solid red;
}


/*
#resizePane {
	margin: 100px 2px 0 2px;
}
ul {
	list-style-type: none;
	margin: 4px 0;
	padding: 0;
	font-size: 1.1em;
}
li {
	margin: 0;
	padding: 2px 12px;
}
span {
	cursor: pointer;
	margin: 0;
	padding: 0;
	color: 	#4D4D94;
}
span.hover:hover {
	font-weight: bold;;
}
.objectSelected {
	background-color: #b0c4de;
}
*/